<div class="actions">
  <div id="recordButton" class="button">
    Start
  </div>
  <audio id="recording" controls></audio>
  <a id="submitButton" class="button">
    Submit
  </a>
</div>

<script>
const recording = document.getElementById("recording")
const submitButton = document.getElementById("submitButton")
const recordButton = document.getElementById("recordButton")
let isRecording = false

const Recorder = () => {
  let recordStream
  let lastRecording
  let mediaRecorder

  const startRecording = (stream) => {
    const audioChunks = []
    mediaRecorder = new MediaRecorder(stream)
    recordStream = stream

    mediaRecorder.ondataavailable = event => {
      audioChunks.push(event.data)
      if(mediaRecorder.state == "inactive") {
        let recordedBlob = new Blob(audioChunks, { type: "audio/mp3" })
        lastRecording = recordedBlob
        recording.src = URL.createObjectURL(recordedBlob)
      }
    }
    mediaRecorder.start()
  }

  const start = () => {
    navigator.mediaDevices.getUserMedia({
      audio: true,
    }).then(stream => startRecording(stream))
  }

  const stop = () => {
    recordStream.getTracks().forEach(track => track.stop())
    mediaRecorder.stop()
  }

  return {
    start,
    stop,
    lastRecording: () => lastRecording
  }
}

const recorder = Recorder()

recordButton.addEventListener("click", function() {
  if (isRecording) {
    recorder.stop()
    this.innerHTML = "Start"
    this.classList.remove("stop")
    isRecording = false
  } else {
    this.innerHTML = "Stop"
    this.classList.add("stop")
    recorder.start()
    isRecording = true
  }
})

submitButton.addEventListener("click", () => {
  let formData = new FormData()
  let request = new XMLHttpRequest()

  formData.append("recording", recorder.lastRecording(), "recording_filename.mp3")
  request.open("POST", "/recording")
  request.send(formData)
})
</script>

<style>
body {
  font: 14px "Open Sans", "Arial", sans-serif;
}

.button {
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}

.button.stop {
  color: darkgreen;
  background-color: white;
}
</style>
