<div class="left">
  <div id="startButton" class="button">
    Start
  </div>
  <h2>Preview</h2>
  <video id="preview" width="160" height="120" autoplay muted></video>
</div>
<div class="right">
  <div id="stopButton" class="button">
    Stop
  </div>
  <h2>Recording</h2>
  <video id="recording" width="160" height="120" controls></video>
  <a id="submitButton" class="button">
    Submit
  </a>
</div>
<div class="bottom">
  <pre id="log"></pre>
</div>

<script>
let preview = document.getElementById("preview");
let recording = document.getElementById("recording");
let startButton = document.getElementById("startButton");
let stopButton = document.getElementById("stopButton");
let logElement = document.getElementById("log");
let submitButton = document.getElementById("submitButton");

let recordingTimeMS = 5000;

const log = (msg) => logElement.innerHTML += msg + "\n";

const Recorder = () => {
  let recordStream
  let lastRecording

  const startRecording = (stream, lengthInMS) => {
    let recorder = new MediaRecorder(stream);
    let data = [];

    recorder.ondataavailable = event => data.push(event.data);
    recorder.start();
    log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

    let stopped = new Promise((resolve, reject) => {
      recorder.onstop = resolve;
      recorder.onerror = event => reject(event.name);
    })

    let recorded = Promise.resolve(setTimeout(() => {
      recorder.state == "recording" && recorder.stop()
    }, lengthInMS))

    return Promise.all([
      stopped,
      recorded
    ]).then(() => data);
  }

  const start = () => {
    navigator.mediaDevices.getUserMedia({
      audio: true
    }).then(stream => {
      recordStream = stream
      preview.srcObject = stream;
      preview.captureStream = preview.captureStream || preview.mozCaptureStream;
      return resolve => preview.onplaying = resolve;
    }).then(
      () => startRecording(preview.captureStream(), recordingTimeMS)
    ).then (recordedChunks => {
      let recordedBlob = new Blob(recordedChunks, { type: "audio/mp3" });
      lastRecording = recordedBlob;
      recording.src = URL.createObjectURL(recordedBlob);
      log("Successfully recorded " + recordedBlob.size + " bytes of " +
          recordedBlob.type + " media.");
    }).catch(log);
  }

  const stop = () => recordStream.getTracks().forEach(track => track.stop());

  return {
    start,
    stop,
    lastRecording
  }
}

const recorder = Recorder()
startButton.addEventListener("click", recorder.start, false)
stopButton.addEventListener("click", recorder.stop, false);

submitButton.addEventListener("click", () => {
  let formData = new FormData();
  let request = new XMLHttpRequest();

  formData.append("recording", recorder.lastRecording, "recording_filename.mp3")
  request.open("POST", "/recording");
  request.send(formData);
})
</script>

<style>
body {
  font: 14px "Open Sans", "Arial", sans-serif;
}

video {
  margin-top: 2px;
  border: 1px solid black;
}

.button {
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}

h2 {
  margin-bottom: 4px;
}

.left {
  margin-right: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

.right {
  margin-left: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

.bottom {
  clear: both;
  padding-top: 10px;
}
</style>
