{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='templates/record.css') }}">
{% endblock %}
{% block content %}
<div class="container">
  <audio id="recording" controls></audio>
  <div class="actions">
    <button id="recordButton"></button>
    <button id="stopButton" class="stop" disabled></button>
    <div id="submitButton">
      Send
    </div>
  </div>
</div>

<script>
const recording = document.getElementById("recording")
const submitButton = document.getElementById("submitButton")
const recordButton = document.getElementById("recordButton")
const stopButton = document.getElementById("stopButton")

const Recorder = () => {
  let recordStream
  let lastRecording
  let mediaRecorder

  const startRecording = (stream) => {
    const audioChunks = []
    mediaRecorder = new MediaRecorder(stream)
    recordStream = stream

    mediaRecorder.ondataavailable = event => {
      audioChunks.push(event.data)
      if(mediaRecorder.state == "inactive") {
        let recordedBlob = new Blob(audioChunks, { type: "audio/mp3" })
        lastRecording = recordedBlob
        recording.src = URL.createObjectURL(recordedBlob)
      }
    }
    mediaRecorder.start()
  }

  const start = () => {
    navigator.mediaDevices.getUserMedia({
      audio: true,
    }).then(stream => startRecording(stream))
  }

  const stop = () => {
    recordStream.getTracks().forEach(track => track.stop())
    mediaRecorder.stop()
  }

  return {
    start,
    stop,
    lastRecording: () => lastRecording
  }
}

const recorder = Recorder()

recordButton.addEventListener("click", (e) => {
  e.preventDefault()
  recordButton.disabled = true
  recordButton.classList.add("recording")
  stopButton.disabled = false
  recorder.start()
})

stopButton.addEventListener("click", (e) => {
  e.preventDefault()
  recorder.stop()
  recordButton.classList.remove("recording")
  recordButton.disabled = false
  stopButton.disabled = true
})

submitButton.addEventListener("click", (e) => {
  e.preventDefault()
  if(!recorder.lastRecording()) {
    alert("Nothing recorded yet.")
    return
  }

  let formData = new FormData()
  let request = new XMLHttpRequest()

  formData.append("recording", recorder.lastRecording(), "recording_filename.mp3")
  request.open("POST", "/recording")
  request.send(formData)
})
</script>
{% endblock %}
