#main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(63,14,64,1);
  font-size: 20px;
  color: rgba(63,14,64,1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: rgb(224, 199, 225);
  border-radius: 5px;
}

.channel {
  margin-bottom: 5px;
}

.channel select {
  font-size: inherit;
}

.actions {
  display: flex;
  margin: 10px;
}

.actions button, .actions #submitButton {
  width: 35px;
  height: 35px;
  margin: 15px;
  padding: 0;
  border: 0;
  color: white;
  background-color: black;
  font-size: 12px;
  cursor: pointer;
}

.actions #recordButton {
  background-color: darkred;
  border-radius: 50%;
  outline: none;
}

.actions #recordButton.recording {
  background-color: red;
  animation: 1.5s infinite linear pulse;
}

.actions #stopButton:disabled {
  opacity: .7;
}

.actions #submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  color: rgba(63,14,64,1);
  background-color: white;
  margin-left: 30px;
  border-radius: 5px;
  font-size: initial;
}

.footer a {
  text-decoration: none;
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
  }
  65%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
  }
  90%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
  }
}
</style>
