#main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(63,14,64,1);
  color: rgba(63,14,64,1);
}

.container {
  display: grid;
  grid-template-areas:
    "channel channel actions"
    "preview preview actions"
    "footer  send    actions";
  gap: 10px;
  background-color: #ffffffcc;
  border-radius: 5px;
  padding: 10px;
}

.channel {
  grid-area: channel;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.actions button {
  border: 0;
}

#record-button {
  width: 40px;
  height: 40px;
  background-color: darkred;
  border-radius: 50%;
  color: white;
  outline: none;
}

#record-button.recording {
  background-color: red;
  animation: 1s infinite alternate pulse;
}

#stop-button {
  height: 40px;
  border-radius: 5px;
  background-color: #4e4e4e;
  color: #f1f1f1;
}

#stop-button:disabled {
  background-color: darkgray;
}

.record {
  grid-area: preview;
  display: flex;
  flex-direction: column;
}

.record #recording {
  width: 250px;
  margin-bottom: 5px;
}

.record #submit-button {
  height: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgba(63,14,64,1);
  color: #f1f1f1;
}

.footer {
  grid-area: footer;
}

.footer a {
  text-decoration: none;
}

@keyframes pulse{
  from {
    background-color: darkred;
  }
  to {
    background-color: rgb(230,0,0);
  }
}
